@model ReliDemo.ViewModels.EnergySavingTopChartViewModel 

<div class="span6">
<table class="table  table-condensed"> 
	<tbody>
	<tr><th colspan="3"><select style="width:100px" name="EnergyOrderBy" value="@Model.EnergyOrderBy"><option value="1">从低到高</option><option value="2">从高到低</option></select> 单耗排行 </th></tr>
    @foreach (var station in Model.TopEnergyConsuming)
    {
        <tr class="@if(Model.EnergyOrderBy == 2) {<text>energyhide</text>} else {<text>energyshow</text>}">
		    <td>@(Model.TopEnergyConsuming.ToList().IndexOf(station)+1)</td>
		    <td><span class="label label-success">@string.Format("{0:0.00}",station.多耗)</span></td>
		    <td><a href="#">@station.热力站名称</a></td> 
	    </tr>
    }
    @foreach (var station in Model.TopEnergySaving)
    {
        <tr class="@if(Model.EnergyOrderBy == 1) {<text>energyhide</text>}else{<text>energyshow</text>}" >
		    <td>@(Model.TopEnergySaving.ToList().IndexOf(station) + 1)</td>
		    <td><span class="label label-important">@string.Format("{0:0.00}", station.多耗)</span></td>
		    <td><a href="#">@station.热力站名称</a></td> 
	    </tr>
    }
	<tr>
		<td colspan="3" class="right">
		<a href="#" >节能站总数：<big class="darkGreen">@Model.EnergySavingCount</big>个</a> <a href="#" >超能站总数：<big class="red">@Model.EnergyConsumingCount</big>个</a>
		</td>
	</tr>
	</tbody>
</table>
</div><!--/span-->
<div class="span6">
<table class="table table-condensed"> 
	<tbody>
	<tr><th colspan="3"><select style="width:100px" name="WaterOrderBy" value="@Model.WaterOrderBy"><option value="1">从低到高</option><option  value="2">从高到低</option></select> 循环水量排行 </th></tr>
	@foreach (var station in Model.TopWaterConsuming)
 {
        <tr class="@if (Model.WaterOrderBy == 2) {<text>waterhide</text>}else{<text>watershow</text>}" >
		    <td>@(Model.TopEnergyConsuming.ToList().IndexOf(station) + 1)</td>
		    <td><span class="label label-success">@(station.万平方米流量)</span></td>
		    <td><a href="#">@station.热力站名称</a></td> 
	    </tr>
 }
    @foreach (var station in Model.TopWaterSaving)
    {
        <tr class="@if (Model.WaterOrderBy == 1) {<text>waterhide</text>} else {<text>watershow</text>}" >
		    <td>@(Model.TopWaterSaving.ToList().IndexOf(station) + 1)</td>
		    <td><span class="label label-important">@(station.万平方米流量)</span></td>
		    <td><a href="#">@station.热力站名称</a></td> 
	    </tr>
    }
	</tbody>
</table>
</div>
<style>
    .energyhide, .waterhide
    {
        display:none;
    }
    .energyshow, .watershow
    {
        display:table-row;
    }
    
</style>
<script>
    $(document).ready(function () {
        $("select[name=EnergyOrderBy]").change(function () {
            var hides = $(".energyhide");
            var shows = $(".energyshow");
            hides.removeClass().addClass("energyshow");
            shows.removeClass().addClass("energyhide");
        });
        $("select[name=WaterOrderBy]").change(function () {
            var hides = $(".waterhide");
            var shows = $(".watershow");
            hides.removeClass().addClass("watershow");
            shows.removeClass().addClass("waterhide");
        });
    });
</script>