@model ReliDemo.ViewModels.ExceedGraphViewModel

<div class="box backgroundColor white">
		<table class="table table-bordered">
			<tr><th>超标站总数</th><td>@Model.超标站个数</td><th>单耗比计划超标站</th><td>@Model.单耗比计划超标站个数</td><th>单耗比核算超标站</th><td>@Model.单耗比核算超标站个数</td><th>流量超标站(@Convert.ToInt32(ReliDemo.Infrastructure.Services.ConfigurationService.Instance.WaterExceed) t/h) </th><td>@Model.流量超标站个数</td><th>回温超标站(@Convert.ToInt32(ReliDemo.Infrastructure.Services.ConfigurationService.Instance.TemperatureExceed) ℃) </th><td>@Model.温度超标站个数</td></tr>
		</table>
</div>
