@model IEnumerable<ReliDemo.Models.HeatConsumptionSummaryItem>
<div class="box">
	<div class="box-header  backgroundColorHeader 
             @if( Model.ElementAt(0).IsToday ) 
             { <text>crimson</text> } 
             else 
             { <text>blue</text> } 
             ">
		<h2><i class="icon-align-justify"></i><span class="break"></span>
             @if ( Model.ElementAt(0).IsToday ) 
             { <text>今日 </text>   } 
             else 
             { <text>昨日</text> } 
        </h2>
		<div class="box-icon">
		</div>
	</div>
	<div class="box-content">
		<table class="table makeTableHeaderAsBoxHeader">
				<thead>
					<tr>
						<th></th>
						<th><a href="#">东部</a></th>
						<th><a href="#">西部</a></th>
						<th><a href="#">全网</a></th>                                          
					</tr>
				</thead>   
				<tbody>
                <tr>
					<td>计划供热量(GJ)</td>
                    @foreach (var item in Model)
                    {
                        <td class="center">@item.计划供热量GJ</td>
                    }
				</tr>
                <tr>
					<td>实际供热量(GJ)</td>
                    @foreach (var item in Model)
                    {
                        <td class="center">@item.实际供热量GJ</td>
                    }
				</tr>
				<tr>
					<td>热力站(个)</td>
                    @foreach (var item in Model)
                    {
                        <td class="center">@item.热力站个数</td>
                    }
				</tr>
				<tr>
                    <td>总面积(万㎡)</td>
                    @foreach (var item in Model)
                    {
                        <td class="center">@item.总面积</td>
                    }
                </tr>
                <tr>
                    <td>总供热面积(万㎡)</td>
                    @foreach (var item in Model)
                    {
                        <td class="center">@item.实际投入面积</td>
                    }
                </tr>
				<tr>
					<td>万平米循环水量(t/h)</td>
					@foreach (var item in Model)
                    {
                        <td class="center">@item.万平米循环水量</td>
                    }                                       
				</tr>
                <tr>
					<td>瞬时供热量(GJ/h)</td>
					@foreach (var item in Model)
                    {
                        <td class="center">@item.总瞬时热量</td>
                    }                                       
				</tr>
                <tr>
					<td>平均热负荷(Gcal/h)</td>
					@foreach (var item in Model)
                    {
                        <td class="center">@item.平均热负荷</td>
                    }                                       
				</tr>
                <tr>
                    <td>上一小时时段内累计热量(GJ)</td>
                    @foreach (var item in Model)
                    {
                        <td class="center">@item.上一小时GJ</td>
                    }    
                </tr>
                <tr>
                    <td>当前一小时累计热量(GJ)</td>
                    @foreach (var item in Model)
                    {
                        <td class="center">@item.当前小时GJ</td>
                    }    
                </tr>
                <tr>
                    <td>
                        参考热指标(Kcal/h*㎡)
                    </td>
                    @foreach (var item in Model)
                    {
                        <td class="center">@item.参考热指标</td>
                    }  
                </tr>
                <tr>
                    <td>
                        计划热指标(Kcal/h*㎡)
                    </td>
                    @foreach (var item in Model)
                    {
                        <td class="center">@item.计划热指标</td>
                    }  
                </tr>
                <tr>
                    <td>
                        瞬时单耗(Kcal/h*㎡)
                    </td>
                    @foreach (var item in Model)
                    {
                        <td class="center">@item.瞬时单耗</td>
                    }  
                </tr>
                <tr>
                    <td>
                        供暖季累计单耗(Kcal/h*㎡)
                    </td>
                    @foreach (var item in Model)
                    {
                        <td class="center">@item.供暖季累计单耗</td>
                    }  
                </tr>
                <tr>
                    <td>
                        当日累计单耗(Kcal/h*㎡)
                    </td>
                    @foreach (var item in Model)
                    {
                        <td class="center">@item.当日累计单耗</td>
                    }  
                </tr>    
				</tbody>
			</table>  
	</div>
</div>