@model IEnumerable<ReliDemo.Models.HeatConsumptionTotalItem>

<div class="box realTimeTable" >
    <div class="box-header  backgroundColorHeader 
             @if( Model.Count() > 0 && Model.First().IsToday ) 
             { <text>crimson today</text> } 
             else 
             { <text>crimson</text> } 
             ">
		<h2><i class="icon-eye-open"></i><span class="break"></span>
             @if( Model.Count() > 0 && Model.First().IsToday ) 
             { <text>今日 </text>   } 
             else 
             { <text>昨日</text> } 
        </h2>
		<div class="box-icon">
		</div>
	</div>
    <div class="box-content">
		<table class="table makeTableHeaderAsBoxHeader">
			<thead>
				<tr>    
                    <th>&nbsp;</th>  
                    @if (Model.ElementAt(0).东部.HasValue)
                    {  
                        <text>
                        <th><a href="#">东部</a></th>
                        <th><a href="#">西部</a></th>
                        <th ><a href="#">全网</a></th>
                        </text>              
                    }
                    else
                    {
                        <text>
                        <th><a href="#">总</a></th>
                        <th><a href="#">监测站</a></th>
                        <th ><a href="#">智能卡</a></th>
                        </text>  
                    }      
				</tr>
			</thead> 
            <tbody>
                @foreach (var GJItem in Model)
                {
                    <tr>
					    <td>@GJItem.Title</td>
                        @if (GJItem.东部.HasValue)
                        {
                            <td>@GJItem.东部</td> 
                            <td>@GJItem.西部</td> 
                            <td>@GJItem.全网</td>
                        }
                        else
                        {
                            <td>@GJItem.总</td>
                            <td>@GJItem.监测站</td>
                            <td>@GJItem.智能卡</td>
                        }
				    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script>
    /* ---------- dashboard ---------- */
    jQuery(document).ready(function ($) {
        setInterval("getRealTime()", 5 * 60* 1000)
    });
    function getRealTime() {
        $.ajax({
            url: "http://localhost:11223/HeatConsumptionService/GetRealTime/" + $("input[name=CompanyId]").val() + "/" + $("input[name=ManagershipId]").val(),
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "jsonp",
            data: '',
            success: function (data) {
                for (i = 0; i < data.length; i++) {
                    var today = $(".realTimeTable").filter(function () { return $(this).has("div.today") }).first();
                    if (today != null) {
                        var row = $(today).find("tr").filter(function () { return $(this).find("td:eq(0)").html() == data[i].Title });
                        if (row.length > 0) {
                            console.log(row[0]);
                            if (data[i].总 != null) {
                                $(row[0]).find("td:eq(1)").val(data[i].总);
                                $(row[0]).find("td:eq(2)").val(data[i].监测站);
                                $(row[0]).find("td:eq(3)").val(data[i].智能卡);
                            }
                            else {
                                $(row[0]).find("td:eq(1)").val(data[i].东部);
                                $(row[0]).find("td:eq(2)").val(data[i].西部);
                                $(row[0]).find("td:eq(3)").val(data[i].全网);
                            }
                            $(row[0]).highlightAfterUpdate();
                        }
                    }
                }
            }
        });
    }
</script>