@model ReliDemo.ViewModels.UserInfoViewModel
@{
    ViewBag.Title = "UserInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>用户信息</h2>


<div class="row-fluid">
    @using (Html.BeginForm("UserInfo", "Security", FormMethod.Get)) {
        @Html.DropDownListFor(model=>model.SelectedCompanyId, new SelectList(Model.Companies, "Id", "Name"), "请选择公司", new { @class = "span2" })
        <text>&nbsp;</text>
        @Html.DropDownListFor(model=>model.SelectedManagershipId, new SelectList(Model.Managerships, "Id", "Name"), "请选择管理单位", new { id = "managerships", @class = "span2" })
        <text>&nbsp;</text>
        @Html.TextBox("keyword", Model.SearchKeyword , new {@placeholder = "搜索员工姓名"})
        <text>&nbsp;</text>
        <input type="submit" value="搜索" class="btn  btn-primary" style="vertical-align: top;"/>
    }
</div>
<table class="table table-bordered table-hover  table-condensed" style="background:white">
    <tr>
        <th>
            员工姓名
        </th>
        <th>
            登陆名
        </th>
        <th>
            员工权限
        </th>
        <th>
            上次登录时间
        </th>
        <th>
            修改权限
        </th>
    </tr>
@for (var i = 0; i < Model.Users.Count(); i++)
{
    var user = @Model.Users.ElementAt(i);
    <tr>
        <td>
            @user.姓名
        </td>
        <td>
            @user.email
        </td>
        <td>
            @string.Join(",", user.权限)
        </td>
        <td>
            @user.webpages_Membership.CreateDate
        </td>
        <td>
            @if (HttpContext.Current.User.IsInRole("系统管理员"))
            {
                <text>@Html.ActionLink("修改", "ViewProfile", new { userId = @user.userId })</text>
            }
        </td>
    </tr>
}
</table>


<div class="row-fluid">
<div class="pagination pagination-centered">
    <ul>
		@if (Model.Users.PageIndex >= 10)
        {
            <li>@Html.ActionLink("« 前十页", "UserInfo", new { pageIndex = Model.Users.PageIndex - 10, pageSize = 10, selectedMembershipId = Model.SelectedManagershipId, selectedCompanyId = Model.SelectedCompanyId, searchkeyword = Model.SearchKeyword })</li>
        }
        <li>@Html.ActionLink("« 上一页", "UserInfo", new { pageIndex = Model.Users.PageIndex - 1, pageSize = Model.Users.PageSize, selectedMembershipId = Model.SelectedManagershipId, selectedCompanyId = Model.SelectedCompanyId, searchkeyword = Model.SearchKeyword })</li>
        
        @for (int i = Model.Users.PageIndex / 10 * 10; (i < Model.Users.PageIndex / 10 * 10 + 10) && i < Model.Users.TotalPages; i++)
        {
            <li @if (Model.Users.PageIndex == i)
                { <text>class="active"</text> } >

                @Html.ActionLink((i + 1).ToString(), "UserInfo", new { pageIndex = i, pageSize = Model.Users.PageSize, selectedMembershipId = Model.SelectedManagershipId, selectedCompanyId = Model.SelectedCompanyId, searchkeyword = Model.SearchKeyword })
            </li>
        }
        
        <li>@Html.ActionLink("下一页 »", "UserInfo", new { pageIndex = Model.Users.PageIndex + 1, pageSize = Model.Users.PageSize, selectedMembershipId = Model.SelectedManagershipId, selectedCompanyId = Model.SelectedCompanyId, searchkeyword = Model.SearchKeyword })</li>
		@if (Model.Users.PageIndex < Model.Users.TotalPages - 10)
        {
            <li>@Html.ActionLink("后十页 »", "UserInfo", new { pageIndex = (Model.Users.PageIndex / 10 + 1) * 10, pageSize = Model.Users.PageSize, selectedMembershipId = Model.SelectedManagershipId, selectedCompanyId = Model.SelectedCompanyId, searchkeyword = Model.SearchKeyword })</li>
        }
    </ul>
</div>
</div>