@model ReliDemo.ViewModels.ProfileViewModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row-fluid">
<div class="span8">
<p>
    @Html.ActionLink("返回用户列表", "UserInfo")
</p>
</div>
</div>

@using (Html.BeginForm("ViewProfile", "Security", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(model=>model.UserId)
        <legend>个人信息</legend>
        <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="controls">
            @Html.EditorFor(model => model.UserName)
        </div>
		</div>
		<div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.姓名)
        </div>
        
        <div class="controls">
            @Html.EditorFor(model => model.姓名)
            @Html.ValidationMessageFor(model => model.姓名)
        </div>
		</div>
		
        <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.密码)
            <p class="help-block"><span class="red">请在下方输入新密码,留空为不修改</span></p>
        </div>
        <div class="controls">
            @Html.PasswordFor(model => model.密码)
        </div>
		</div>
		</fieldset>
		<fieldset>
        <legend>用户级别设置</legend>
		<div class="control-group">
			<div class="controls">
				<label> <input type="checkbox" id="isCompany" name="isCompany"
						@if (Model.TheUser.是否为集团员工)
						{ <text>checked</text> } /> <strong>集团级用户</strong>
				</label> 
				<p class="help-block">集团用户可设置权限：<span class="red">“系统管理员”、“生产部调度”</span></p>
			</div>
			
		</div>
		<div class="control-group">
			<div class="control-label">
				<strong>公司级用户</strong>
			</div>
			<div class="controls">
				<select name="Companies">
				<option value="-1">请选择所属公司</option>
				@foreach (var company in ReliDemo.Models.CompanyHelper.GetAllCompany())
				{
					<option id="@company.Id" @if (company.Id == Model.TheUser.所属公司)
											 {<text>selected</text>} value="@company.Name">@company.Name</option>
				}
				</select>
				<p class="help-block">公司级用户可设置权限：<span class="red">“分公司调度”</span></p>
			</div>
		</div>
		<div class="control-group">
        <div class="control-label">
        <strong>供热中心级用户</strong>
        </div>
        <div class="controls">

            <select name="Managerships">
            <option value="-1">请选择供所属热中心</option>
            @foreach (var company in ReliDemo.Models.CompanyHelper.GetAllCompany())
            {
                <optgroup label="@company.Name">  
                @foreach (var managership in ReliDemo.Models.CompanyHelper.GetAllManagershipByCompanyId(company.Id))
                {
                    <option id="@managership.Id" @if (managership.Id == Model.TheUser.所属中心)
                                                 {<text>selected</text>} value="@managership.Name">@managership.Name</option>
                }
                </optgroup>
            }
            </select>
			<p class="help-block">供热中心级用户可设置权限：<span class="red">“供热中心调度”</span></p>
        </div>
		</div>
    </fieldset>
    <fieldset>
        <legend>权限设置</legend>
		<div class="control-group">
        @foreach (var role in @Model.Authorizes)
        {
            <label class="checkbox"><input id="role-@role.Id" type="checkbox" name="@role.Name" @if (role.Checked)
                                                                                   { <text>checked="checked"</text> } /> @role.Name</label>
        }
		</div>
    </fieldset>
    <fieldset>
        <p style="margin-top:20px">
            <input type="submit" value="修改" class="btn btn-primary btn-large"/>
        </p>
    </fieldset>
}

<script>
jQuery(document).ready(function(){

});

function setPermission() {
	if ( $('#isCompany').is(':checked') ) {
		$("#role-1").removeAttr("disabled");
		$("#role-2").removeAttr("disabled");
		$("#role-3").attr("disabled",true);
		$("#role-4").attr("disabled",true);
		$("#role-3").removeAttr("checked");
		$("#role-4").removeAttr("checked");
	} else {
		$("#role-1").attr("disabled",true);
		$("#role-2").attr("disabled",true);
		$("#role-1").removeAttr("checked");
		$("#role-2").removeAttr("checked");
		if ( typeof($('select[name=Companies] :selected').attr('id')) != undefined ) {
			$("#role-3").removeAttr("disabled");
			$("#role-3").removeAttr("checked");
			$("#role-4").attr("disabled",true);
		}
		if ( typeof($('select[name=Managerships] :selected').attr('id')) != undefined ) {
			$("#role-4").removeAttr("disabled");
			$("#role-4").removeAttr("checked");
			$("#role-3").attr("disabled",true);
		}
		
	}
}
</script>