@model ReliDemo.ViewModels.StationHistoriesViewModel

@{
    ViewBag.Title = "Graph";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
<div class="span8">
<p>
    @Html.ActionLink("返回热力站列表", "Paged")
</p>
</div>
</div>
<div class="row-fluid">
    <h1>@Model.StationName
        <small>
        @Html.Partial("_TopMenu")
        </small>
    </h1>
    <div class="span8"></div>
</div>
<div class="row-fluid">
    <div class="control-group span4">
            <label class="checkbox inline">
                <input type="radio" value="week" name="week" /> 周
            </label>
            <label class="checkbox inline">
                <input type="radio" value="month" name="month"  /> 月
            </label>
            <label class="checkbox inline">
                <input type="radio" value="season" name="season"  /> 供暖季
            </label>
    </div>
    <div class="control-group ">
        <text>选择日期:</text>
        @Html.TextBox("dateFrom", DateTime.Today.AddDays(-7).ToString("yyyy-MM-dd"), new { @class = "span2" })
        <text>到</text>
        @Html.TextBox("dateTo", DateTime.Today.AddDays(1).ToString("yyyy-MM-dd"), new { @class = "span2" })
        <input type="submit" value="搜索" id="search" class="btn btn-primary" style="vertical-align: top;"/>
    </div>
</div>
<div class="row-fluid">
    <div id="placeholder" style="width:100%;height:400px">
    </div>
</div>
@Html.HiddenFor(model=>model.StationId)
<script type="text/javascript">

    $(function () {

        var options = {
            lines: {
                show: true
            },
            points: {
                show: true
            },
            xaxis: {
                mode: "time",
                minTickSize: [1, "day"],
                timeformat: "%m月%d日"
            }
        };

        $("#search").click(function () {

            var button = $(this);

            // Find the URL in the link right next to us, then fetch the data

            var dataurl = "HistoryData?stationId=" + $("#StationId").val() + "&from=" + $("#dateFrom").val() + "&to=" + $("#dateTo").val();

            function onDataReceived(series) {
                $.plot("#placeholder", [{ "data": series.planned }, { "data": series.actual }, { "data": series.calculated}], options);
            }

            $.ajax({
                url: dataurl,
                type: "GET",
                dataType: "json",
                success: onDataReceived
            });
        });


        // Load the first series by default, so we don't have an empty plot

        $("#search").click();

        // Add the Flot version string to the footer

    });

	</script>