@model ReliDemo.ViewModels.StationHistoriesViewModel

@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
<div class="span8">
<p>
    @Html.ActionLink("返回热力站列表", "Paged")
</p>
</div>
</div>
<div class="row-fluid clearfix stationTitle">
    <h1 class="span3">@Model.StationName</h1>
    <div onDesktop="span4" onTablet="span6" onMobile="span12">@Html.Partial("_TopMenu")</div>
</div>
<div class="row-fluid">
    @using (Html.BeginForm("Paged", "Stations", FormMethod.Get)) {
        <text>选择日期:</text>
        @Html.TextBox("dateFrom")
        <text>到</text>
        @Html.TextBox("dateTo")
        <text>多耗% 从 </text>
        @Html.TextBox("duohaoFrom", "", new { @class = "span1" })
        <text>到</text>
        @Html.TextBox("duohaoTo", "", new { @class = "span1" })
        <input type="submit" value="搜索" class="btn btn-primary" style="vertical-align: top;"/>
        <input type="button" value="还原" class="btn " style="vertical-align: top;"/>
    }
</div>

<div class="rolw-fluid">
<div class="scrollableTableContainer">
<table class="table  table-bordered table-hover  table-condensed table-clickhighlight datatable" style="background:white">
	<thead>
    <tr>
        <th>#</th>
        <th>日期</th>
        <th>投入面积A <span class="symbol">(万㎡)</span></th>
        <th>投入面积B <span class="symbol">(万㎡)</span></th>
        <th>实际面积A <span class="symbol">(万㎡)</span></th>
        <th>实际面积B <span class="symbol">(万㎡)</span></th>
        <th>理论单耗 <span class="symbol">(GJ/㎡)</span></th>
        <th>预报温度 <span class="symbol">(℃)</span></th>
        <th>实际单耗 <span class="symbol">(GJ/㎡)</span></th>
        <th>实际温度 <span class="symbol">(℃)</span></th>
        <th>累计单耗 <span class="symbol">(GJ/㎡)</span></th>
        <th>采暖季单耗 <span class="symbol">(GJ/㎡)</span></th>
        <th>计划GJ <span class="symbol">(GJ)</span></th>
        <th>采暖GJ <span class="symbol">(GJ)</span></th>
        <th>热水GJ <span class="symbol">(GJ)</span></th>
        <th>供暖季GJ <span class="symbol">(GJ)</span></th>
    </tr></thead>
	<tbody>
    @for (int i = 0; i < 10 && i < Model.StationAccuHistories.Count(); i++)
    {
        var history = @Model.StationAccuHistories.ElementAt(i);
        <tr>
            <td>@(i + 1)</td>
            <td>@history.日期.Date.ToString("yyyy-MM-dd")</td>
            <td>@history.投入面积A</td>
            <td>@history.投入面积B</td>
            <td>@history.实际面积A</td>
            <td>@history.实际面积B</td>
            <td>@history.理论单耗</td>
            <td>@history.预报温度</td>
            <td>@history.实际单耗</td>
            <td>@history.实际温度</td>
            <td>@history.累计单耗</td>
            <td>@history.采暖季单耗</td>
            <td>@history.计划GJ</td>
            <td>@history.采暖GJ</td>
            <td>@history.热水GJ</td>
            <td>@history.供暖季GJ</td>
        </tr>
    }
 </tbody>
</table>
</div>
</div>