@model ReliDemo.ViewModels.StationHistoriesViewModel

@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
<div class="span8">
<p>
    @Html.ActionLink("返回热力站列表", "Paged")
</p>
</div>
</div>
<div class="row-fluid clearfix stationTitle">
    <h1 class="span3">@Model.StationName</h1>
    <div onDesktop="span4" onTablet="span6" onMobile="span12">@Html.Partial("_TopMenu")</div>
</div>
<div class="row-fluid">
    @using (Html.BeginForm("Paged", "Stations", FormMethod.Get)) {
        <text>选择日期:</text>
        @Html.TextBox("dateFrom")
        <text>到</text>
        @Html.TextBox("dateTo")
        <text>多耗% 从 </text>
        @Html.TextBox("duohaoFrom", "", new { @class = "span1" })
        <text>到</text>
        @Html.TextBox("duohaoTo", "", new { @class = "span1" })
        <input type="submit" value="搜索" class="btn btn-primary" style="vertical-align: top;"/>
        <input type="button" value="还原" class="btn " style="vertical-align: top;"/>
    }
</div>

<div class="rolw-fluid">
<div class="scrollableTableContainer">
<table class="table  table-bordered table-hover  table-condensed table-clickhighlight datatable" style="background:white">
	<thead>
    <tr>
        <th>#</th>
        <th>日期</th>
        <th>投入面积 <span class="symbol">(万㎡)</span></th>
        <th>实际热指标 <span class="symbol">(kcal/h·㎡)</span></th>
        <th>计划供热量 <span class="symbol">(GJ)</span></th>
        <th>折算供热量 <span class="symbol">(GJ)</span></th>
        <th>实际供热量 <span class="symbol">(GJ)</span></th>
        <th>计划单耗 <span class="symbol">(GJ/㎡)</span></th>
        <th>核算单耗 <span class="symbol">(GJ/㎡)</span></th>
        <th>实际单耗 <span class="symbol">(GJ/㎡)</span></th>
        <th>多耗 <span class="symbol">(GJ/㎡)</span></th>
        <th>多耗百分比 <span class="symbol">(%)</span></th>
        <th>热水耗能 <span class="symbol">(GJ)</span></th>
        <th>万平米流量 <span class="symbol">(t/h)</span></th>
        
    </tr></thead>
	<tbody>
    @for (int i = 0; i < 10 && i < Model.StationHistories.Count(); i++)
    {
        var history = @Model.StationHistories.ElementAt(i);
        <tr>
            <td>@(i + 1)</td>
            <td>@history.Date.ToString("yyyy-MM-dd")</td>
            <td>@history.投入面积</td>
            <td>@history.实际热指标</td>
            <td>@history.计划供热量</td>
            <td>@history.折算供热量</td>
            <td>@history.实际供热量</td>
            <td>@history.计划单耗</td>
            <td>@history.折算单耗</td>
            <td>@history.实际单耗</td>
            <td>@history.多耗</td>
            <td>@history.多耗percent</td>
            <td>@history.热水耗能</td>
            <td>@history.万平米流量</td>
        </tr>
    }
 </tbody>
</table>
</div>
</div>