@model ReliDemo.ViewModels.StationsViewModel 

@{
    ViewBag.Title = "热力站基础信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <h2 style='font-family: "Microsoft Yahei",sans-serif;
font-size: 24px;
margin-bottom: 0.9em;
line-height: 30px;'>@ViewBag.Title</h2>

<div class="row-fluid">
    @using (Html.BeginForm("Paged", "Stations", FormMethod.Get)) {
        @Html.DropDownList("heatSources", new SelectList(Model.HeatSources, "ItemID", "热源名称"), "请选择热源厂", new { @class = "span2" })
        <text>&nbsp;</text>
        @Html.DropDownList("companies", new SelectList(Model.Companies, "Id", "Name"), "请选择公司", new { @class = "span2" })
        <text>&nbsp;</text>
        @Html.DropDownList("managerships", new SelectList(Model.Managerships, "Id", "Name"), "请选择管理单位", new { id = "managerships", @class = "span2" })
        <text>&nbsp;</text>
        @Html.DropDownList("area", new SelectList(Model.Regions, "Id", "Name"), "请选择区域", new { id = "area", @class = "span2" })
        <text>&nbsp;</text>
        @Html.TextBox("keyword", Model.SearchKeyword , new {@placeholder = "按关键字检索"})
        <text>&nbsp;</text>
        <input type="submit" value="搜索" class="btn  btn-primary" style="vertical-align: top;"/>
    }
</div>
<div class="row-fluid">
        每页显示：
<ul class="nav nav-pills" id="pills">
<li @if (Model.Stations.PageSize == 10)
    {
    <text> class="active" </text> 
    } >
    @Html.ActionLink("10", "Paged", new { startIndex = Model.Stations.PageIndex, pageSize = 10, managerships = Model.SelectedManagershipId, companies = Model.SelectedCompanyId, heatSources = Model.SelectedHeatSourceId, keyword = Model.SearchKeyword
})
</li>
<li @if (Model.Stations.PageSize == 50)
    {
    <text> class="active" </text> 
    } >
    @Html.ActionLink("50", "Paged", new { startIndex = Model.Stations.PageIndex, pageSize = 50, managerships = Model.SelectedManagershipId, companies = Model.SelectedCompanyId, heatSources = Model.SelectedHeatSourceId, keyword = Model.SearchKeyword })
</li>
<li @if (Model.Stations.PageSize == 100)
    {
    <text> class="active" </text> 
    }>
    @Html.ActionLink("100", "Paged", new { startIndex = Model.Stations.PageIndex, pageSize = 100, managerships = Model.SelectedManagershipId, companies = Model.SelectedCompanyId, heatSources = Model.SelectedHeatSourceId, keyword = Model.SearchKeyword })
</li>

</ul>
</div>
<div class="scrollableTableContainer">
<table class="table  table-bordered table-hover  table-condensed table-clickhighlight datatable" style="background:white">

@foreach (var p in Model.Stations)
{
    if (Model.Stations.IndexOf(p) == 0)
    {
        <thead><tr>
        <th>
            @Html.DisplayName("热力站名称")
        </th>
        <th>
            @Html.DisplayName("热力站编号")
        </th>
        <th>
            @Html.DisplayName("热力站编码")
        </th>
        <th width="200px">
            @Html.DisplayName("用热地址")
        </th>
        <th>
            @Html.DisplayName("管理单位")
        </th>
        <th>
            @Html.DisplayName("热指标(W/㎡)")
        </th>
        <th>
            @Html.DisplayName("公司")
        </th>
        <th>
            @Html.DisplayName("是否热水站")
        </th>
        <th>
            @Html.DisplayName("是否并网供热")
        </th>
        <th>
            @Html.DisplayName("热力站行政区")
        </th>
        <th>
            @Html.DisplayName("生产热源")
        </th>
        <th>
            @Html.DisplayName("面积A(万㎡)")
        </th>
        <th>
            @Html.DisplayName("面积B(万㎡)")
        </th>
        <th>
            @Html.DisplayName("投入面积A(万㎡)")
        </th>
        <th>
            @Html.DisplayName("投入面积B(万㎡)")
        </th>
        <th>
            @Html.DisplayName("管理类型")
        </th>
        <th>
            @Html.DisplayName("东西部")
        </th>
    </tr>
	</thead>
    }
    <tr>
        <td>
            @Html.ActionLink(p.热力站名称 + " ", "BasicInfo", new { stationId = p.ItemID })
        </td>
        <td>
            @p.热力站编号
        </td>
        <td>
            @p.热力站编码
        </td>
        <td>
            @p.用热地址
        </td>
        <td>
            @p.管理单位
        </td>
        <td>
            @p.参考热指标
        </td>  
        <td>
            @p.公司
        </td>
        <td>
            @{
                if (p.是否热水站.HasValue && p.是否热水站.Value)
                {
                    <text>是</text>
                }
                else
                {
                    <text>否</text>
                }
             }
        </td>
        <td>
            @{
    if (p.是否并网供热.HasValue && p.是否并网供热.Value)
    {
                    <text>是</text>
    }
    else
    {
                    <text>否</text>
    }
             }
        </td>
        
        <td>
            @p.热力站行政区
        </td>
        <td>
            @p.生产热源
        </td>
        <td>
            @p.面积A
        </td>
        <td>
            @p.面积B
        </td>
        <td>
            @p.投入面积A
        </td>
        <td>
            @p.投入面积B
        </td>
        <td>
            @p.管理类型
        </td>
        <td>
            @(p.HeatSource != null ? p.HeatSource.东西部 : "")
        </td>
    </tr>
}
</table>
</div><!--scrollableTableContainer-->
<div class="row-fluid">
<div class="pagination pagination-centered">
    <ul>
		@if (Model.Stations.PageIndex >= 10)
        {
            <li>@Html.ActionLink("« 前十页", "Paged", new { startIndex = Model.Stations.PageIndex - 10, pageSize = 10, managerships = Model.SelectedManagershipId, companies = Model.SelectedCompanyId, heatSources = Model.SelectedHeatSourceId, keyword = Model.SearchKeyword })</li>
        }
        <li>@Html.ActionLink("« 上一页", "Paged", new { startIndex = Model.Stations.PageIndex - 1, pageSize = Model.Stations.PageSize, managerships = Model.SelectedManagershipId, companies = Model.SelectedCompanyId, heatSources = Model.SelectedHeatSourceId, keyword = Model.SearchKeyword })</li>
        
        @for (int i = Model.Stations.PageIndex / 10 * 10; (i < Model.Stations.PageIndex / 10 * 10 + 10) && i < Model.Stations.TotalPages; i++)
        {
            <li @if (Model.Stations.PageIndex == i)
                { <text>class="active"</text> } >

                @Html.ActionLink((i + 1).ToString(), "Paged", new { startIndex = i, pageSize = Model.Stations.PageSize, managerships = Model.SelectedManagershipId, companies = Model.SelectedCompanyId, heatSources = Model.SelectedHeatSourceId, keyword = Model.SearchKeyword })
            </li>
        }
        
        <li>@Html.ActionLink("下一页 »", "Paged", new { startIndex = Model.Stations.PageIndex + 1, pageSize = Model.Stations.PageSize, managerships = Model.SelectedManagershipId, companies = Model.SelectedCompanyId, heatSources = Model.SelectedHeatSourceId, keyword = Model.SearchKeyword })</li>
		@if (Model.Stations.PageIndex < Model.Stations.TotalPages - 10)
        {
            <li>@Html.ActionLink("后十页 »", "Paged", new { startIndex = (Model.Stations.PageIndex / 10 + 1) * 10, pageSize = Model.Stations.PageSize, managerships = Model.SelectedManagershipId, companies = Model.SelectedCompanyId, heatSources = Model.SelectedHeatSourceId, keyword = Model.SearchKeyword })</li>
        }
    </ul>
</div>
</div>

<script>
    $(function () {
        $("select[name=companies]").change(function () {
            $.ajax({
                url: "/Stations/GetManagershipsByCompanyId",
                type: "post",
                data: { companyId: $(this).val() },
                success: function (response, textStatus, jqXHR) {
                    $("#managerships").html("<option value>请选择管理单位</option>"+response).css("display","");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                },
                complete: function () {
                }
            });
        });
		$(".table tr").dblclick(function(e){
			var url = $(e.currentTarget).find("td:first a").attr("href");
			if ( url ) {
				window.location = url;
			}
		});

    });
</script>