@model ReliDemo.ViewModels.RoomTemperatureViewModel

@{
    ViewBag.Title = "入室测温";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
    <h1>入室测温</h1>
</div>
<div class="row-fluid">
    @using (Html.BeginForm("UploadRoomTemperature", "Stations", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" />
        <input type="submit" value="上传文件" class="btn btn-primary" />
    }
</div>
<div class="row-fluid">
    <div>最新导入数据：1000条，导入时间：2014年1月4日  每页显示：</div>
	<ul class="nav nav-pills" id="pills">
		<li><a href="#">10</a></li>
	</ul>
</div>
<div class="row-fluid">
    <div class="scrollableTableContainer">
	    <table class="table  table-bordered table-hover  table-condensed table-clickhighlight datatable" style="background:white">
		    <thead>
			    <tr>
                    <td>序号</td>
                    <td>测温日期</td>
			        <td>热力站名称</td>
			        <td>住宅地址</td>
                    <td>业主房间号</td>
                    <td>被测业主姓名</td>
                    <td>联系电话</td>
                    <td>室内温度</td>
                    <td>测温单位</td>
                    <td>是否满意</td>
                    <td>测温人员编号</td>
			    </tr>
		    </thead>
		    <tbody>
            @foreach (var roomTemperature in Model.RoomTemperatures)
            {
                <tr>
                    <td> @roomTemperature.序号</td>
                    <td> @roomTemperature.测温日期</td>
                    <td> @roomTemperature.热力站名称</td>
                    <td> @roomTemperature.住宅地址</td>
                    <td> @roomTemperature.业主房间号</td>
                    <td> @roomTemperature.被测业主姓名</td>
                    <td> @roomTemperature.联系电话</td>
                    <td> @roomTemperature.室内温度</td>
                    <td> @roomTemperature.测温单位</td>
                    <td> @roomTemperature.是否满意</td>
                    <td> @roomTemperature.测温人员编号</td>
                </tr>
            }
		    </tbody>
	    </table>
    </div>
</div>