@model ReliDemo.Models.Station
@{
    ViewBag.Title = "StationRealTime";
}
<div class="row-fluid">
<div class="span8">
<p>
    @Html.ActionLink("返回热力站列表", "Paged")
</p>
</div>
</div>
<div class="row-fluid">
    <h1>@Model.热力站名称
        <small>
        @Html.Partial("_TopMenu")
        </small>
    </h1>
    <div class="span8"></div>
</div>
<div class="row-fluid">
    <div class="box span12">
        <div class="box-header">
            <h2><i class="icon-list"></i>机组信息</h2>
        </div>
        <div class="box-content">
            <div class="box ">
            <table class="table">
                <tr>
                    <td>一次供温(℃) <span>@Model.一次供温</span></td>
                    <td>一次回温(℃) <span>@Model.一次回温</span></td>
                    <td>一次供压(MPa) <span>@Model.一次供压</span></td>
                    <td>一次回压(MPa) <span>@Model.一次回压</span></td>
                    <td>总累计热量(GJ) <span>@Model.总累计热量</span></td>
                    <td>总累计流量(t) <span>@Model.总累计流量</span></td>
                </tr>
            </table>
            </div>
            <div class="box ">
            <table class="table">
                <tr>
                    <th>机组编号</th>
                    <th>机组名</th>
                    <th>供温<span class="symbol">(℃)</span></th>
                    <th>回温<span class="symbol">(℃)</span></th>
                    <th>瞬时热量<span class="symbol">(GJ)</span></th>
                    <th>瞬时流量<span class="symbol">(t)</span></th>
                    <th>总累计热量<span class="symbol">(GJ)</span></th>
                    <th>总累计流量<span class="symbol">(t)</span></th>
                </tr>
                @foreach (var station2nd in Model.Station2ndRecents)
                {
                    <tr>
                        <td>@station2nd.机组号</td>
                        <td>@station2nd.机组名</td>
                        <td>@station2nd.供温</td>
                        <td>@station2nd.回温</td>
                        <td>@station2nd.瞬时热量</td>
                        <td>@station2nd.瞬时流量</td>
                        <td>@station2nd.累计热量</td>
                        <td>@station2nd.累计流量</td>
                    </tr>
                }
            </table>
            </div>
        </div>
    </div>
</div>