@model ReliDemo.ViewModels.StationsStatisticsViewModel
@{
    ViewBag.Title = "热力站热耗统计";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <h2 style='font-family: "Microsoft Yahei",sans-serif;
font-size: 24px;
margin-bottom: 0.9em;
line-height: 30px;'>@ViewBag.Title 

</h2>
<div class="row-fluid">
@using (Html.BeginForm("Paged", "Stations", FormMethod.Get)) {
        @Html.DropDownList("eastwest", new List<SelectListItem>(), "全部区域", new { @class = "span2" })
        <text>&nbsp;</text>
        @Html.DropDownList("companies", new List<SelectListItem>(), "全部公司", new { @class = "span2" })
        <text>&nbsp;</text>
        @Html.DropDownList("managerships", new List<SelectListItem>(), "全部中心", new { id = "managerships", @class = "span2" })
        <text>&nbsp;</text>
        @Html.DropDownList("heatsource", new List<SelectListItem>(), "全部热源", new { id = "managerships", @class = "span2" })
        <text>&nbsp;</text>
        <input type="submit" value="搜索" class="btn  btn-primary" style="vertical-align: top;"/>
    }
</div>
<div class="row-fluid">
    <div class="box" onDesktop="span7" onTablet="span12">
    <ul class="nav nav-tabs box-header" id="myTab">
		<li class=""><a href="#daily">按日查询</a></li>
		<li class=""><a href="#weekly">按周查询</a></li>
		<li class="active"><a href="#monthly">按月查询</a></li>
        <li class=""><a href="#custom">自定义时间</a></li>
	</ul>
    <div id="myTabContent" class="tab-content box-content">
		<div class="tab-pane active form-inline" id="daily">
			<label class="radio"> <input type="radio" id="today" name="day" value="today"/> 今天 </label>
            <label class="radio"> <input type="radio" id="yesterday" name="day" value="yesterday"/> 昨天 </label>
            <label class="radio"> <input type="radio" id="last2day" name="day" value="last2day"/> 前天 </label>
            <label class="radio"> 
            <div class="input-append date" >
                <label class="radio"> <input type="radio" id="customday" name="day" value="custom" /> 自选日期 </label>
				<span class="add-on"><i class="icon-calendar"></i></span>
				<input type="text" class="form-control date-picker input-small" id="date_customday" data-date-format="mm/dd/yyyy" data-provide="datepicker-inline" />
			</div>
            </label>
        </div>
        <div class="tab-pane form-inline" id="weekly">
			<label class="radio"> <input type="radio" id="thisweek" name="week" value="thisweek"/> 本周 </label>
            <label class="radio"> <input type="radio" id="lastweek" name="week" value="lastweek"/> 上一周 </label>
            <label class="radio"> <input type="radio" id="last2week" name="week" value="last2week"/> 上上周 </label>
            <label class="radio"> 
            <div class="input-append date">
                <label class="radio"> <input type="radio" id="customweek" name="week" value="custom" /> 自选日期 </label>
				<span class="add-on"><i class="icon-calendar"></i></span>
				<input type="text" class="form-control date-picker input-small" id="date_customweek" data-date-format="mm/dd/yyyy" data-provide="datepicker-inline" />
			</div>
            </label>
        </div>
        <div class="tab-pane form-inline" id="monthly">
			<label class="radio" > <input type="radio" id="thismonth" name="month" value="thismonth"/> 本月 </label>
            <label class="radio"> <input type="radio" id="lastmonth" name="month" value="lastmonth"/> 上个月 </label>
            <label class="radio"> <input type="radio" id="last2month" name="month" value="last2month" /> 上上个月 </label>
            <label class="radio"> 
            <div class="input-append date" >
                <label class="radio"> <input type="radio" id="custommonth" name="month" value="custom" /> 自选日期 </label>
				<span class="add-on"><i class="icon-calendar"></i></span>
				<input type="text" class="form-control date-picker input-small" id="date_custommonth" data-date-format="mm/dd/yyyy" data-provide="datepicker-inline" />
			</div>
            </label>
        </div>
        <div class="tab-pane fprm-inline " id="custom">
			 <div class="input-append date" >
			<span class="add-on"><i class="icon-calendar"></i></span>
            <input type="text" class="form-control input-large" id="daterange" value="09/09/2013 - 09/28/2013" data-provide="datepicker-inline" >
			</div>
        </div>
    </div>
    </div>

	<div class="box" onDesktop="span4" onTablet="span12 noMarginLeft">
		<div class="box-header"><h2>多耗%筛选</h2></div>
		<div class="box-content form-inline">
		<label class="inline">从</label>
		<input type="text" class="input-mini inline" />
		<label class="inline">% 到</label>
		<input type="text" class="input-mini inline" />
		<label class="inline">%</label>
		</div>
	</div>
	<div  onDesktop="span1" onTablet="span12 noMarginLeft heightAuto">
	<button id="submitFilter" class="btn btn-primary">
	<i class="icon-search"></i>
	搜索
	</button>
	</div>
</div>
<div class="alert alert-info clearfix">
<div style="display:inline-block;float:left;position:relative;top:5px;">查询结果：热力站366个。 每页显示：</div>
<ul class="nav nav-pills" id="pills" style="float:left;display:inline-block;margin-bottom:0;">
<li @if (Model.StationsStatistic.PageSize == 10)
    {
    <text> class="active" </text> 
    } >
    @Html.ActionLink("10", "Statistics", new { startIndex = Model.StationsStatistic.PageIndex, pageSize = 10 })
</li>
<li @if (Model.StationsStatistic.PageSize == 50)
    {
    <text> class="active" </text> 
    } >
    @Html.ActionLink("50", "Statistics", new { startIndex = Model.StationsStatistic.PageIndex, pageSize = 50 })
</li>
<li @if (Model.StationsStatistic.PageSize == 100)
    {
    <text> class="active" </text> 
    }>
    @Html.ActionLink("100", "Statistics", new { startIndex = Model.StationsStatistic.PageIndex, pageSize = 100 })
</li>
</ul>

</div>
<div class="scrollableTableContainer">
<table class="table  table-bordered table-hover  table-condensed table-clickhighlight" style="background:white">

@foreach (var p in Model.StationsStatistic)
{
    if (Model.StationsStatistic.IndexOf(p) == 0)
    {
        <tr>
        <th>
            @Html.DisplayName("热力站名称")
        </th>
        <th>
            @Html.DisplayName("日期")
        </th>
        <th>
            @Html.DisplayName("计划供热量")<span class="symbol">(GJ)</span>
        </th>
        <th>
            @Html.DisplayName("采暖")<span class="symbol">(GJ)</span>
        </th>
        <th>
            @Html.DisplayName("热水")<span class="symbol">(GJ)</span>
        </th>
        <th>
            @Html.DisplayName("核算")<span class="symbol">(GJ)</span>
        </th>
        <th>
            @Html.DisplayName("理论单耗")<span class="symbol">(GJ/㎡)</span>
        </th>
        <th>
            @Html.DisplayName("累计单耗")<span class="symbol">(GJ/㎡)</span>
        </th>
        <th>
            @Html.DisplayName("采暖季单耗")<span class="symbol">(Kcal/h)</span>
        </th>
        <th>
            @Html.DisplayName("热指标")<span class="symbol">(Kcal/h*㎡)</span>
        </th>
        <th>
            @Html.DisplayName("预报温度")<span class="symbol">(℃)</span>
        </th>
        <th>
            @Html.DisplayName("实际单耗")<span class="symbol">(GJ/㎡)</span>
        </th>
        <th>
            @Html.DisplayName("实际温度")<span class="symbol">(℃)</span>
        </th>
        
    </tr>
    }
    <tr>
        <td>
            @Html.ActionLink(p.Station.热力站名称, "BasicInfo", new { stationId = p.ItemID })
        </td>
        <td class="time">
            @p.日期.ToString("yyyy-MM-dd")
        </td>
        <td>
            @p.计划GJ
        </td>
        <td>
            @p.采暖GJ
        </td>
        <td>
            @p.热水GJ
        </td>
        <td>
            @p.核算GJ
        </td>
        <td>
            @p.理论单耗
        </td>
        <td>
            @p.累计单耗
        </td>
        <td>
            @p.采暖季单耗
        </td>
        <td>
            39
        </td>
        <td>
            @p.预报温度
        </td>  
        <td>
            @p.实际单耗
        </td>
        <td>
            @p.实际温度
        </td>
        
    </tr>
}
</table>
</div>
<div class="row-fluid">
<div class="pagination pagination-centered">
    <ul>
        <li>@Html.ActionLink("« 前一个", "Statistics", new { startIndex = Model.StationsStatistic.PageIndex - 1, pageSize = Model.StationsStatistic.PageSize })</li>
        @if (Model.StationsStatistic.PageIndex >= 10)
        {
            <li>@Html.ActionLink("« 前十个", "Statistics", new { startIndex = Model.StationsStatistic.PageIndex - 10, pageSize = 10 })</li>
        }
        @for (int i = Model.StationsStatistic.PageIndex / 10 * 10; (i < Model.StationsStatistic.PageIndex / 10 * 10 + 10) && i < Model.StationsStatistic.TotalPages; i++)
        {
            <li @if (Model.StationsStatistic.PageIndex == i)
                { <text>class="active"</text> } >

                @Html.ActionLink((i + 1).ToString(), "Statistics", new { startIndex = i, pageSize = Model.StationsStatistic.PageSize })
            </li>
        }
        @if (Model.StationsStatistic.PageIndex < Model.StationsStatistic.TotalPages - 10)
        {
            <li>@Html.ActionLink("下十个 »", "Statistics", new { startIndex = (Model.StationsStatistic.PageIndex / 10 + 1) * 10, pageSize = Model.StationsStatistic.PageSize })</li>
        }
        <li>@Html.ActionLink("下一个 »", "Statistics", new { startIndex = Model.StationsStatistic.PageIndex + 1, pageSize = Model.StationsStatistic.PageSize })</li>
    </ul>
</div>
</div>

<script>
    $(function () {
        $("select[name=companies]").change(function () {
            $.ajax({
                url: "/Stations/GetManagershipsByCompanyId",
                type: "post",
                data: { companyId: $(this).val() },
                success: function (response, textStatus, jqXHR) {
                    $("#managerships").html("<option value>请选择管理单位<option>" + response).css("display", "");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                },
                complete: function () {
                }
            });
        });
		$(".table tr").dblclick(function(e){
			var url = $(e.currentTarget).find("td:first a").attr("href");
			if ( url ) {
				window.location = url;
			}
		});
    });
</script>