@model ReliDemo.ViewModels.HeatSourcesViewModel

@{
    ViewBag.Title = "热源厂基础信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@Html.Hidden("hf_compareEastAndWest", "[{ \"label\": \"东部面积\", \"data\": " + @Model.EastFuelInSquareMeter + "}, {\"label\": \"西部面积\", \"data\": " + @Model.WestFuelInSquareMeter + " }]")
@Html.Hidden("hf_compareFossilAndGas", "[{ \"label\": \"燃煤\", \"data\": " + @Model.FuelInFossil + "}, {\"label\": \"燃气\", \"data\": " + @Model.FuelInGas + " }]")
@Html.Hidden("hf_heatload", Model.HeatLoadsData)
@Html.HiddenFor(model => model.TotalHeatLoad)
<div class="row-fluid">
    <div  class="box span4">
		<div class="box-header">
		<h2><i class="icon-tasks"></i>全网面积统计</h2>
		</div>
        <div class="box-content">
			
            <table class="table table-bordered table-hovered" style="margin:25px 0">
                <tr>
                    <th>全网供热面积</th>
                    <td>@Model.TotalFuelInSquareMeter 平方米</td>
                </tr>
                <tr>
                    <th>东部</th>
                    <td>@Model.EastFuelInSquareMeter 平方米</td>
                </tr>
                <tr>
                    <th>西部</th>
                    <td>@Model.WestFuelInSquareMeter 平方米</td>
                </tr>
            </table>
        </div>
    </div>
    <div  class="box span4">
        <div class="box-content">
            <div id="placeholder_compareEastAndWest" style="width:100%;height:200px;">
            </div>
        </div>
    </div>
    <div  class="box span4">
        <div class="box-content">
            <div id="placeholder_compareFossilAndGas" style="width:100%;height:200px;">
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
    <table class="table  table-bordered table-hover  table-condensed" style="background:white">
    @foreach (var p in Model.HeatSources)
    {
        if (@Model.HeatSources.ToList().IndexOf(p) == 0)
        {
            <tr>
            <th>
                @Html.DisplayName("热源名称")
            </th>
            <th>
                @Html.DisplayName("位置")
            </th>
            <th>
                @Html.DisplayName("燃煤尖峰炉")
            </th>
            <th>
                @Html.DisplayName("燃气尖峰炉")
            </th>
            <th>
                @Html.DisplayName("机组类型")
            </th>
        </tr>
        }
        <tr>
            <td>
                @Html.ActionLink(p.热源名称, "BasicInfo", new { heatSourceId = p.ItemID })
            </td>
            <td>
                @p.东西部, @p.内外部
            </td>
            <td>
                @p.燃煤尖峰炉数
            </td>
            <td>
                @p.燃气尖峰炉数
            </td>
            <td>
                @p.机组类型
            </td>
        </tr>
    }
    </table>
    </div>

    <div class="span6">
		<div class="pieChartWithCenterText backgroundColor white box">
			<div id="placeholder_heatSources" style="height:465px"></div>
			<div class="centerText">总热负荷：@Model.TotalHeatLoad GJ</div>
		</div>
    </div>
</div>

<script type="text/javascript">

    $(function () {

        var options = {
            series: {
                pie: {
                    show: true,
                    label: {
                        show: true
                    }
                }
            },
            colors: ["#2fabe9", "#fabb3d"],

            grid: {
                hoverable: true,
                clickable: true
            }
        };

        var data = $.parseJSON($("input[name=hf_compareEastAndWest]").val());
        $.plot("#placeholder_compareEastAndWest", data, options);

        var data2 = $.parseJSON($("input[name=hf_compareFossilAndGas]").val());
        $.plot("#placeholder_compareFossilAndGas", data2, options);


        function labelFormatter(label, series) {
            return "<div style='font-size:11pt; text-align:center; padding:2px; color:white;'>" + label + "<br/>" + Math.round(series.percent) + "%</div>";
        }
        var data5 = $.parseJSON($("input[name=hf_heatload]").val());
		console.log(data5);
        $.plot("#placeholder_heatSources", data5, {
            series: {
                pie: {
                    show: true,
                    innerRadius: 1 / 2,
                    label: {
                        show: true,
                        radius: 0.9,
                        background: {
                            opacity: 0
                        }
                    }
                }
            },
            colors: ["#2fabe9", "#fabb3d", "#c84628", "#fa5833", "#9440ed", "#78cd51", "#3cff41", "#3c4451", "#3c44f1", "#0074c1", "#383e4b", "#00558e", "#fa913d", "#28c8b3", "#68930a", "#2877c8"],
            legend: {
                show: false
            },
            grid: {
                hoverable: true,
                clickable: true
            }
        });

    });

</script>