@model ReliDemo.ViewModels.ProfileViewModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("UserProfile", "Accounts", FormMethod.Post)) {
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(m=>m.UserId)
        <legend>个人信息</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.姓名)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.姓名)
            @Html.ValidationMessageFor(model => model.姓名)
        </div>
        @if (Model.TheUser.所属公司.HasValue)
        {
        <div class="editor-label">
            @Html.LabelFor(model => model.TheUser.所属公司)
        </div>
        <div class="editor-field">
            <select name="Companies"  disabled="disabled">
            @foreach (var company in ReliDemo.Models.CompanyHelper.GetAllCompany())
            {
                <option id="@company.Id"  @if (company.Id == Model.TheUser.所属公司)
                                         {<text>selected</text>} value="@company.Name">@company.Name</option>
            }
            </select>
        </div>
        }
        else if (Model.TheUser.所属中心.HasValue)
        {
            
        }
    </fieldset>
    <fieldset>
        <legend>权限设置</legend>
        @foreach (var role in @Model.Authorizes )
        {
            <div class="row-fluid">
                <div class="span2"><label><input disabled="disabled" type="checkbox" name="@role.Name" @if(role.Checked) { <text>checked="checked"</text> } /> @role.Name</label></div> 
            </div>
        }
    </fieldset>
    <fieldset>
        <p style="margin-top:20px">
            <input type="submit" value="修改" class="btn btn-primary"/>
        </p>
    </fieldset>
}