@model IEnumerable<ReliDemo.Models.Company>
<div class="scrollableTableContainer">
<table class="table table-condensed table-bordered table-hover table-clickhighlight table-dblclickactive datatable">
	<thead>
    <tr>
		<th rowspan="2">公司</th>
		<th colspan="2">供热量(GJ)</th>
		<th colspan="3">热指标(kcal/h•㎡)</th>
		<th rowspan="2">万平米循环水量<br/>(t/h)</th>
		<th rowspan="2">站总数(个）</th>
		<th colspan="4">超标站（个)</th>
	</tr>
	<tr>
		<th>计划</th>
		<th>实际</th>
        <th>计算</th>
		<th>计划</th>
		<th>实际运行</th>
		<th>超标总数</th>
		<th>单耗超标</th>
		<th>流量超标</th>
		<th>回温超标</th>
	</tr>
    </thead>
	@foreach (var company in Model)
    {
        if (company.ItemID == 0 || company.ItemID == 4 || company.ItemID == 5 || company.ItemID == 6)
        {
        <tr>
		<td>@Html.ActionLink(company.公司, "../Companies/Index", new { companyId = company.ItemID })</td>
		<td>@company.今日计划GJ</td>
		<td>@company.今日累计GJ</td>
        <td>@company.参考热指标</td>
		<td>@company.计划热指标</td>
		<td>@company.实际热指标</td>
		<td>@company.万平方米流量</td>
		<td>@company.热力站个数</td>
		<td>@company.超标站个数</td>
		<td>@Html.ActionLink(company.单耗超标站个数.ToString(), "../Stations/RealTime", new { selectedCompanyId = company.ItemID, exceedTemperatureFrom = 20, exceedTemperatureTo = 400 } ) </td>
		<td>@Html.ActionLink(company.流量超标站个数.ToString(), "../Stations/RealTime", new { selectedCompanyId = company.ItemID,exceedWaterFrom = 40, exceedWaterTo =100 }) </td>
        <td>@Html.ActionLink(company.温度超标站个数.ToString(), "../Stations/RealTime", new { selectedCompanyId = company.ItemID, exceedTemperatureFrom = 40, exceedTemperatureTo = 100 }) </td>
		</tr>
        }
    }
</table>
</div>