@model IEnumerable<ReliDemo.Models.Company>

<table class="table">
    <tr><th>公司</th><th>计划供热量(GJ)</th> <th>实际供热量(GJ)</th><th>平均单耗(Kcal/h*㎡)</th><th>万平米循环水量(t/h)</th></tr>
    @foreach (var company in Model)
    {
        <tr><td>@company.公司</td><td>@company.今日计划GJ</td><td>@company.今日累计GJ</td><td>@company.日平均单耗</td> <td>@company.万平方米流量</td></tr>
    }
	
	<tr><td>特诚公司</td><td>0.82</td><td>1.25</td><td>6984</td><td>3582</td></tr>
	<tr><td>合格服务商</td><td>0.78</td><td>1.47</td><td>7841</td><td>4782</td></tr>
	<tr><td>创合供热公司</td><td>0.94</td><td>1.24</td><td>7854</td><td>4785</td></tr>
	<tr><td>特力昆公司</td><td>0.96</td><td>1.10</td><td>6472</td><td>5048</td></tr>
	<tr><td>天禹供热公司</td><td>0.58</td><td>1.22</td><td>2568</td><td>5478</td></tr>
	<tr><td>销售公司</td><td>0.78</td><td>0.88</td><td>4875</td><td>6571</td></tr>
	<tr><td>科利源供热公司</td><td>0.48</td><td>0.47</td><td>7841</td><td>5417</td></tr>
</table>
