@model IEnumerable<ReliDemo.Models.Company>
<style>
.scrollableTableContainer #homeTable th, .scrollableTableContainer #homeTable td {
	min-width:80px;
	width:80px!important;
}
</style>
<h3>今日监控数据统计</h3>
<div class="scrollableTableContainer backgroundColor white">
<table id="homeTable" class="table table-condensed table-bordered table-hover table-clickhighlight table-dblclickactive datatable">

	<thead>
    <tr>
		<th rowspan="2">公司</th>
        <th rowspan="2">有效站总数(个）</th>
        <th rowspan="2">实际供热面积(万㎡)</th>
		<th colspan="4">供热量(GJ)</th>
		<th colspan="3">热指标(kcal/h•㎡)</th>
		<th rowspan="2">万平米循环水量<br/>(t/h)</th>
		<th rowspan="2">回温超标站（个)</th>
	</tr>
	<tr>
		<th>计划</th>
		<th>实际</th>
		<th>预计</th>
		<th>供暖季累计</th>
		<th>计算</th>
		<th>计划</th>
		<th>实际运行</th>
	</tr>
    </thead>
	@foreach (var company in Model)
    {
        if (company.ItemID == 0 || company.ItemID == 4 || company.ItemID == 5 || company.ItemID == 6)
        {
        <tr>
		<td>@Html.ActionLink(company.公司, "../Companies/Index", new { companyId = company.ItemID })</td>
        <td class="textAlighRight">@company.有效监控站数</td>
        <td class="textAlighRight">@Convert.ToInt32(company.实际供热面积/10000)</td>
		<td class="textAlighRight">@Convert.ToInt32(company.今日计划GJ_JK).ToString()</td>
		<td class="textAlighRight">@Convert.ToInt32(company.今日累计GJ).ToString()</td>
		<td class="textAlighRight">@Convert.ToInt32(company.预计全天GJ).ToString()</td>
		<td class="textAlighRight">@Convert.ToInt32(company.供暖季累计GJ).ToString()</td>
        <td class="textAlighRight">@Convert.ToDecimal(company.参考热指标).ToString("0.00")</td>
		<td class="textAlighRight">@Convert.ToDecimal(company.计划热指标).ToString("0.00")</td>
		<td class="textAlighRight">@Convert.ToDecimal(company.实际热指标).ToString("0.00")</td>
		<td class="textAlighRight">@Convert.ToDecimal(company.万平方米流量).ToString("0.00")</td>
		<td class="textAlighRight">@Html.ActionLink(company.温度超标站个数.ToString(), "../Stations/RealTime", new { selectedCompanyId = company.ItemID, exceedTemperatureFrom = ReliDemo.Infrastructure.Services.ConfigurationService.Instance.TemperatureExceed }) </td>
		</tr>
        }
    }
</table>
</div>

<script>
$(document).ready(function(){
	$('.scrollableTableContainer #homeTable th, .scrollableTableContainer #homeTable td').css('width','100px!important');
});
</script>