@model ReliDemo.ViewModels.HeatConsumptionSummaryViewModel

@{
    ViewBag.Title = "智能热网系统";
}
<style>


</style>

<div class="row-fluid">
    <div class="span6">
        <a class="span4 smallstat box noMargin" id="todaysGJ" onTablet="span12" onDesktop="span6"  href="#">
			<i class="icon-fire crimson"></i>
			<span class="title">今日累计供热量</span>
			<span class="value">@Model.TodayGJ[1].全网.Value GJ</span>
            <span class="time">更新时间:2013-11-02 15:30PM</span>
		</a>

		<a class="span4 smallstat box noMargin" onTablet="span12" onDesktop="span6"  href="#">
			<i class="icon-fire blue"></i>
			<span class="title">昨日累计供热量</span> 
			<span class="value">@Model.YesterdayGJ[2].全网.Value  GJ</span>
			<span class="time">　</span>
		</a>
		
		 <a class="span4 smallstat box noMargin" onTablet="span12" onDesktop="span6"  href="#">
			<i class="icon-calendar darkGreen"></i>
			<span class="title">累计供热时间</span>
			<span class="value">@Model.TotalHeatSupplyDays 天</span>
            <span class="time">供热开始日期: @Model.起始供热时间.ToShortDateString() </span>
		</a>			
    </div>
    <div class="span6">
		<a class="span4 smallstat box noMargin" onTablet="span12" onDesktop="span4" href="#">
			<i class="icon-ok crimson"></i>
			<span class="title">计划投停面积</span>
			<span class="value">@Model.计划投入面积/@Model.计划停止面积<small>万㎡</small></span>
		</a>
		<a class="span4 smallstat box noMargin" onTablet="span12" onDesktop="span4" href="#">
			<i class="icon-ok crimson"></i>
			<span class="title">实际投停面积</span>
			<span class="value">@Model.实际投入面积/@Model.实际停止面积<small>万㎡</small></span>
		</a>
		
		<a class="span4 smallstat box noMargin" onTablet="span12" onDesktop="span4" href="#">
			<i class="icon-sun orange"></i>
			<span class="title">今日天气 - 晴 微风</span>
			<span class="value">  <small> @Model.TodaysHighestTemperature ℃ / @Model.TodaysLowestTemperature ℃ 平均 @Model.TodaysAverageTemperature ℃</small></span>
		</a>
    </div>
</div>
<div class="row-fluid">
	<div class="span6">
        @Html.Partial("HeatConsumptionSummary", Model.TodaysHeatConsumptionSummary)
        @Html.Partial("HeatConsumptionTotal", Model.YesterdayGJ)
		<div class="box span12 noMarginLeft">
			<div class="box-header">
			    <h2><i class="icon-tasks"></i>节能/超标热力站排行</h2>
			</div>
			<div class="box-content">
				<div class="row-fluid">
				    @Html.Partial("EnergyTopChart", Model.EnergyTopChart)
			    </div><!--/row-->
		    </div><!--/box-->
	    </div><!--/span-->	
	</div>
	<div class="span6">
		<div class="row-fluid">
            @Html.Partial("HeatConsumptionGraph", Model.Histories)
			<div class="box blue　span12 noMarginLeft">
				<div class="box-header">
					<h2><i class="icon-bar-chart"></i>供暖季各公司累计热耗</h2>
				</div>
				<div class="box-content">
					<div class="row-fluid">
						<div class="span12">
							@Html.Partial("CompanyHeatConsumption", Model.Companies)
						</div>
					</div>
				</div>
			</div>

			<div class="box blue span12 noMarginLeft">
				<div class="box-header">
					<h2><i class="icon-bar-chart"></i>各公司投停面积</h2>
				</div>
				<div class="box-content">
					@Html.Partial("CompanyOnOffArea", Model.CompanyAreaOnOff)	
				</div>	
			</div><!--/span-->

		</div><!--/row-->
       
	</div><!--/span-->
</div>
<div class="row-fluid">
	<div class="span6">
		<div class="row-fluid">	
			
			
        </div><!--/row-->
    </div><!--/span-->

					
</div>


<script>
    /* ---------- dashboard ---------- */
    jQuery(document).ready(function ($) {



	

		
    setInterval("getTodaysGJ()", 5*60*1000)
});
    function getTodaysGJ() {
        $.ajax({
            url: "http://localhost:11223/HeatConsumptionService/GetTodaysGJ",
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "jsonp",
            success: function (data) {
                var updatedAt = new Date(data.UpdatedAt.match(/\d+/)[0] * 1);
                $("#todaysGJ span.time").html('更新时间:' + updatedAt.getFullYear() + '-' + (updatedAt.getMonth() + 1) + '-' + updatedAt.getDate() + ' ' + updatedAt.getHours() + ":" + updatedAt.getMinutes() + ":" + updatedAt.getSeconds() + (updatedAt.getHours() >= 12 ? 'PM' : 'AM'));
                $("#todaysGJ span.value").html(data.Value + "" + data.Unit);
            }
        });
    }

</script>