@model ReliDemo.ViewModels.HeatConsumptionSummaryViewModel

@{
    ViewBag.Title = "智能热网系统";
}

@Html.Partial("TopStats", Model.TopStats)

<div class="row-fluid">

	<div class="span6" onTablet="span12 noMarginLeft" onDesktop="span6">
		@Html.Partial("HeatConsumptionTotal", Model.TodayGJ)
	</div>
	<div class="span6" onTablet="span12 noMarginLeft" onDesktop="span6">
		
		@Html.Partial("HeatConsumptionTotal", Model.YesterdayGJ)
		<div class="row-fluid">
			<div class="box smallstat span6">
				<i class="icon-eye-open crimson"></i>
				<span class="title">监测站 @(Model.智能卡站个数+Model.监控站个数) 个</span>
				<span class="value">@Model.有效站个数<small>个有效站</small></span>
			</div>
			<div class="box smallstat span6" data-dialog="heatTotalDialog">
				<i class="icon-pencil blue"></i>
				<span class="title">人工抄表站</span>
				<span class="value">@Model.手抄表站个数 <small>个</small></span>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">

	<div class="span6" onTablet="span12 noMarginLeft" onDesktop="span6">
		@Html.Partial("HeatConsumptionGraph", Model.Histories)
	</div>
	<div class="box span6" onTablet="span12 noMarginLeft" onDesktop="span6">
		@Html.Partial("TemperatureGraph", Model.WeatherGraph)
	</div>
</div><!--row-->
<div class="row-fluid">
	@Html.Partial("CompanyHeatConsumption", Model.Companies)
</div>




