@model ReliDemo.ViewModels.CompanyViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.Company.公司</h2>
@Html.Partial("TopStats", Model.TopStats)

<div class="row-fluid">
	<div class="span6" onTablet="span12 noMarginLeft" onDesktop="span6">
		@Html.Partial("HeatConsumptionTotal", Model.TodayGJ)
	</div>
	<div class="span6" onTablet="span12 noMarginLeft" onDesktop="span6">
		 @Html.Partial("HeatConsumptionTotal", Model.YesterdayGJ)
         <div class="row-fluid">
		 <div class="box smallstat  span6 ">
			<i class="icon-eye-open crimson"></i>
				<span class="title">监测站 @(Model.智能卡站个数+Model.监控站个数) 个</span>
				<span class="value">@Model.Company.有效监控站数 <small>个有效站</small></span>
		</div>
        <div class="box smallstat span6">
				<i class="icon-pencil blue"></i>
				<span class="title">人工抄表站</span>
				<span class="value">@(Model.Company.Stations.Count(i=>(i.生产热源ID.HasValue && (i.生产热源ID.Value == 1 || i.生产热源ID.Value == 22) )&& string.IsNullOrEmpty(i.数据来源))) <small>个</small></span>
		</div>
        </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6" onTablet="span12 noMarginLeft" onDesktop="span6">
		@Html.Partial("HeatConsumptionGraph", Model.Histories)
	</div>
	<div class="box span6" onTablet="span12 noMarginLeft" onDesktop="span6">
		@Html.Partial("TemperatureGraph", Model.WeatherGraph)
	</div>
</div>

<div class="row-fluid">
    @Html.Partial("ManagershipHeatConsumption", Model.Centers)
</div>

<div class="dialog-overlay" id="heatTotalDialog">
	<div class="dialog">
		<div class="dialog-header">
			<h2>人工抄表站、监测站汇总后信息</h2>
			<div class="dialog-subtitle">汇总时间 : @string.Format("{0:yyyy-MM-dd}",Model.手抄表最近更新时间) </div>
		</div>
		<div class="dialog-content">
			@Html.Partial("HeatConsumptionTotal", Model.GJ总)
		</div>
		<div class="dialog-close"><i class="icon-remove"></i></div>
	</div>
</div><!--dialog-overlay-->