@model ReliDemo.ViewModels.ManagershipViewModel

@{
    ViewBag.Title = "ManagershipInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Managership.管理单位</h2>

@Html.Partial("TopStats", Model.TopStats)

<div class="row-fluid">
    <div class="span6" onTablet="span12 noMarginLeft" onDesktop="span6">
		@Html.Partial("HeatConsumptionTotal", Model.TodayGJ)
	</div>
	<div class="span6" onTablet="span12 noMarginLeft" onDesktop="span6">
		 @Html.Partial("HeatConsumptionTotal", Model.YesterdayGJ)

		 <div class="row-fluid">
			<div class="box smallstat span6">
				<i class="icon-eye-open crimson"></i>
				<span class="title">监测站 @(Model.智能卡站个数+Model.监控站个数) 个</span>
				<span class="value">@Model.Managership.有效监控站数 <small>个有效站</small></span>
			</div>
			<div class="box smallstat span6" data-dialog="heatTotalDialog">
				<i class="icon-pencil blue"></i>
				<span class="title">人工抄表站</span>
				<span class="value">@(Model.Managership.总站数 - Model.Managership.有效监控站数) <small>个</small></span>
			</div>
		</div>
    </div>
	
</div>
<div class="row-fluid">
	<div class="span6" onTablet="span12 noMarginLeft" onDesktop="span6">
		@Html.Partial("HeatConsumptionGraph", Model.Histories)
	</div>
	<div class="box span6" onTablet="span12 noMarginLeft" onDesktop="span6">
		@Html.Partial("TemperatureGraph", Model.WeatherGraph)
	</div>
</div>

<div class="row-fluid">
	@Html.Partial("ExceedGraph", @Model.ExceedGraph)
        <table class="table  table-bordered table-hover  table-condensed table-clickhighlight datatable" style="background:white">
            @foreach( var station in Model.Managership.Stations.Where(i=>string.IsNullOrEmpty(i.报警) && i.生产热源ID.HasValue && i.HeatSource.是否并网供热.HasValue && i.HeatSource.是否并网供热.Value )){
                if (Model.Managership.Stations.First() == station)
                {
                   <thead> <tr><th>热力站名称</th><th>热力站编号</th><th>数据来源</th><th>供热面积(㎡)</th><th>参考热指标(Kcal/h)</th><th>计划热指标(Kcal/h)</th><th>日累计单耗(GJ/㎡)</th><th>万平米循环水流量(t/h)</th><th>流量超标?</th><th>多耗%</th><th>单耗超标?</th><th>一次回温</th><th>温度超标?</th></tr></thead>

                }
                <tr class="
				@if (station.万平方米流量 - ReliDemo.Infrastructure.Services.ConfigurationService.WaterExceed > 0 || station.多耗percent > ReliDemo.Infrastructure.Services.ConfigurationService.HeatExceed || station.一次回温 - ReliDemo.Infrastructure.Services.ConfigurationService.TemperatureExceed > 0)
    {
					<text>alert-danger</text>
				}">
                    <td>@Html.ActionLink(station.热力站名称 + " ", "StationRealTime", "Stations", new { stationId = station.ItemID }, new { })</td>
                    <td>@station.热力站编号 </td>
					<td>@if ( @station.数据来源==null) {
							<span class="label label-info"><i class="icon-pencil"></i> 人工抄表</span> 
						} else {
							<span class="label label-important"><i class="icon-eye-open"></i> @station.数据来源</span>
						}
					</td>
                    <td>@station.投入面积</td>
                    <td>@station.参考热指标</td>
                    <td>@station.计划热指标</td>
                    <td>@station.今日累计单耗</td>
                    <td>@station.万平方米流量</td>
                    <td>@if(station.万平方米流量 - ReliDemo.Infrastructure.Services.ConfigurationService.WaterExceed > 0){
						<i class="icon-arrow-up red"></i>
					} else {
						<text>-</text>
					}</td>
                    <td>@station.多耗percent</td>
                    <td>@if(station.多耗percent > 20){
						<i class="icon-arrow-up red"></i>
					} else {
						<text>-</text>
					}</td>
                    <td>@station.一次回温</td>
                    <td>@if(station.一次回温 - ReliDemo.Infrastructure.Services.ConfigurationService.TemperatureExceed > 0){
						<i class="icon-arrow-up red"></i>
					} else {
						<text>-</text>
					}</td>
                </tr>
            }
        </table>
		<hr />
		<div class="box">
		<div class="box-header backgroundColorHeader grey">
			<h2>故障站: xxx个</h2>
			<div class="box-icon">
				<a href="index.html#" class="btn-minimize"><i class="icon-chevron-down"></i></a>
			</div>
		</div>
		<div class="box-content" style="display:none">
		 <table class="table  table-bordered table-hover  table-condensed table-clickhighlight datatable" style="background:white">
            @foreach( var station in Model.Managership.Stations){
                if (Model.Managership.Stations.First() == station)
                {
                   <thead> <tr><th>热力站名称</th><th>热力站编号</th><th>数据来源</th><th>供热面积(㎡)</th><th>参考热指标(Kcal/h)</th><th>计划热指标(Kcal/h)</th><th>日累计单耗(GJ/㎡)</th><th>万平米循环水流量(t/h)</th><th>多耗%</th><th>一次回温</th></tr></thead>

                }
                <tr>
                    <td>@Html.ActionLink(station.热力站名称 + " ", "StationRealTime", "Stations", new { stationId = station.ItemID }, new { })</td>
                    <td>@station.热力站编号 </td>
					<td>@if ( @station.数据来源==null) {
							<span class="label label-info"><i class="icon-pencil"></i> 人工抄表</span> 
						} else {
							<span class="label label-important"><i class="icon-eye-open"></i> @station.数据来源</span>
						}
					</td>
                    <td>@station.投入面积</td>
                    <td>@station.参考热指标</td>
                    <td>@station.计划热指标</td>
                    <td>@station.今日累计单耗</td>
                    <td>@station.万平方米流量</td>
                    <td>@station.多耗percent</td>
                    <td>@station.一次回温</td>
                   
                </tr>
            }
        </table>
		</div><!--box-content-->
		</div><!--box-->
</div>

<div class="dialog-overlay" id="heatTotalDialog">
	<div class="dialog">
		<div class="dialog-header">
			<h2>人工抄表站、监测站汇总后信息</h2>
			<div class="dialog-subtitle">汇总时间 : @string.Format("{0:yyyy-MM-dd}",Model.手抄表最近更新时间) </div>
		</div>
		<div class="dialog-content">
			@Html.Partial("HeatConsumptionTotal", Model.GJ总)
		</div>
		<div class="dialog-close"><i class="icon-remove"></i></div>
	</div>
</div><!--dialog-overlay-->