@model IEnumerable<ReliDemo.Models.Managership>
<h3>今日监控数据统计</h3>
<table class="table table-condensed table-bordered table-hover table-clickhighlight table-dblclickactive datatable" style="background-color:white">
	<thead>
    <tr>
		<th rowspan="2">中心</th>
        <th rowspan="2">有效站总数(个)</th>
        <th rowspan="2">实际供热面积(万㎡)</th>
		<th colspan="4">供热量(GJ)</th>
		<th colspan="3">热指标(kcal/h•㎡)</th>
		<th rowspan="2">万平米循环水量<br/>(t/h)</th>
        <th rowspan="4">回温超标站数量（个)</th>
	</tr>
	<tr>
		<th>计划</th>
		<th>实际</th>
		<th>预计</th>
		<th>供暖季累计</th>
		<th>计算</th>
		<th>计划</th>
		<th>实际</th>
	</tr>
    </thead>
	@foreach (var center in Model)
    {
        <tr>
		<td>@Html.ActionLink(center.管理单位, "ManagershipInfo", new {managershipId = center.ItemID })</td>
        <td class="textAlighRight">@center.有效监控站数</td>
        <td class="textAlighRight">@Convert.ToInt32(center.实际供热面积/10000)</td>
		<td class="textAlighRight">@Convert.ToInt32(center.今日计划GJ_JK).ToString()</td>
		<td class="textAlighRight">@Convert.ToInt32(center.今日累计GJ).ToString()</td>
		<td class="textAlighRight">@Convert.ToInt32(center.预计全天GJ).ToString()</td>
		<td class="textAlighRight">@Convert.ToInt32(center.供暖季累计GJ).ToString()</td>
		<td class="textAlighRight">@Convert.ToDecimal(center.参考热指标).ToString("0.00")</td>
		<td class="textAlighRight">@Convert.ToDecimal(center.计划热指标).ToString("0.00")</td>
		<td class="textAlighRight">@Convert.ToDecimal(center.实际热指标).ToString("0.00")</td>
		<td class="textAlighRight">@Convert.ToDecimal(center.万平方米流量).ToString("0.00")</td>
        
        <td class="textAlighRight">@Html.ActionLink(center.温度超标站个数.ToString(), "../Stations/RealTime", new { selectedCompanyId = center.公司ID, managerships = center.ItemID, exceedTemperatureFrom = ReliDemo.Infrastructure.Services.ConfigurationService.Instance.TemperatureExceed }) </td>
        </tr>
    }
</table>