@model ReliDemo.ViewModels.ManagershipViewModel

@{
    ViewBag.Title = "ManagershipInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Managership.管理单位</h2>

<div class="row-fluid">
    <div class="span8">
        @Html.Partial("HeatConsumptionGraph", Model.Histories)
    </div>
    <div class="span8">
        <table class="table">
            @foreach( var station in Model.Managership.Stations){
                if (Model.Managership.Stations.First() == station)
                {
                    <tr><th>热力站名称</th><th>热力站编号</th><th>站面积</th><th>超标面积</th><th>超标比例</th></tr>
                }
                <tr>
                    <td>@Html.ActionLink(station.热力站名称, "BasicInfo", "Stations", new { managershipId = station.ItemID }, new { })</td>
                    <td>@station.热力站编号 </td>
                    <td>@( station.投入面积A + station.投入面积B)</td>
                    <td>111</td>
                    <td>111</td>
                </tr>
            }
        </table>
    </div>
</div>
