@model ReliDemo.ViewModels.ManagershipViewModel

@{
    ViewBag.Title = "ManagershipInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Managership.管理单位</h2>
<div class="row-fluid">
    <div class="span6">
        <a class="span4 smallstat box noMargin" onTablet="span12" onDesktop="span6"  href="#">
			<i class="icon-fire crimson"></i>
			<span class="title">今日累计供热量</span>
			<span class="value">1.8万GJ</span>
            <span class="time">截止到2013-11-02 15:30PM</span>
		</a>

		<a class="span4 smallstat box noMargin" onTablet="span12" onDesktop="span6"  href="#">
			<i class="icon-fire blue"></i>
			<span class="title">昨日累计供热量</span>
			<span class="value">2.1万GJ</span>
		</a>
		
		 <a class="span4 smallstat box noMargin" onTablet="span12" onDesktop="span6"  href="#">
			<i class="icon-calendar darkGreen"></i>
			<span class="title">累计供热时间</span>
			<span class="value">1天</span>
            <span class="time">供热开始日期:2013-11-01</span>
		</a>			
    </div>
    <div class="span6">
		<a class="span4 smallstat box noMargin" onTablet="span12" onDesktop="span4" href="#">
			<i class="icon-ok crimson"></i>
			<span class="title">计划投停面积</span>
			<span class="value">89/21<small>万㎡</small></span>
		</a>
		<a class="span4 smallstat box noMargin" onTablet="span12" onDesktop="span4" href="#">
			<i class="icon-ok crimson"></i>
			<span class="title">实际投停面积</span>
			<span class="value">56/54 <small>万㎡</small></span>
		</a>
		
		<a class="span4 smallstat box noMargin" onTablet="span12" onDesktop="span4" href="#">
			<i class="icon-sun orange"></i>
			<span class="title">今日天气 - 晴 微风</span>
			<span class="value">  <small> 10℃/-2℃   平均5℃</small></span>
		</a>
    </div>
</div>
<div class="row-fluid">
    <div class="span6" onTablet="span12">
        @Html.Partial("HeatConsumptionTotal", Model.TodayGJ)
        @Html.Partial("HeatConsumptionTotal", Model.YesterdayGJ)
		@Html.Partial("HeatConsumptionGraph", Model.Histories)
    </div>
    <div class="span6" onTablet="span12">
		
        <table class="table table-bordered table-hover  table-condensed backgroundColor white">
            <tr><td>热力站总数量(个)</td><td>@Model.Managership.Stations.Count()</td><td>平均热负荷(Gcal/h)</td><td colspan="3">186</td></tr>
            <tr><td>万平米循环水量(t/h)</td><td>1</td><td>瞬时单耗(GJ/h·㎡)</td><td>1</td><td>累计单耗(GJ/h·㎡)</td><td>1</td></tr>
            <tr><td>总瞬时流量(t/h)</td><td>1</td><td>总瞬时热量(GJ/h)</td><td>1</td><td>超标站数量(个)</td><td>111</td></tr>
        </table>
		
		<div class="box backgroundColor white">
			<div class="row-fluid">
				<div class="span6">
					<div id="company_exceed_station" class="pieChartWithCenterText" style="height:165px;padding-top:20px;">
					</div>
				</div>
				<div class="span6">
                    <div id="company_exceed_area" class="pieChartWithCenterText" style="height:165px;padding-top:20px;">
					</div>
				</div>
			</div>
        
		</div>
		
	<div class="row-fluid">	
		<div class="box span12 noMarginLeft">
			<div class="box-header">
				<h2><i class="icon-tasks"></i>节能/超标热力站排行</h2>
			</div>
			<div class="box-content">
				<div class="row-fluid">
				    @Html.Partial("EnergyTopChart", Model.EnergyTopChart)
			    </div><!--/row-->
		    </div><!--/box-->
    </div><!--/row-->

    </div>
</div>
</div>
<div class="row-fluid">
    <div class="span8">
        <table class="table">
            @foreach( var station in Model.Managership.Stations){
                if (Model.Managership.Stations.First() == station)
                {
                    <tr><th>热力站名称</th><th>热力站编号</th><th>面积(万㎡)</th><th>热指标(Kcal/h)</th><th>热负荷(Gcal/h)</th></tr>
                }
                <tr>
                    <td>@Html.ActionLink(station.热力站名称, "BasicInfo", "Stations", new { managershipId = station.ItemID }, new { })</td>
                    <td>@station.热力站编号 </td>
                    <td>@( station.投入面积A + station.投入面积B)</td>
                    <td>38</td>
                    <td>1.5</td>
                </tr>
            }
        </table>
    </div>
</div>
