@model ReliDemo.ViewModels.ManagershipViewModel

@{
    ViewBag.Title = "ManagershipInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Managership.管理单位</h2>
<div class="row-fluid">
		<div class="smallstat box" onTablet="span12" onDesktop="span6">
			<i class="icon-user red"></i>
			<span class="title">@Model.当前时间.ToString("yyyy年MM月dd日")  @Model.当前时间.ToString("dddd",new System.Globalization.CultureInfo("zh-cn")) </span>
			<span class="value">@Model.当前用户.姓名 <small>@Model.当前用户.权限们</small></span>
            <span class="time">欢迎进入中心页面</span>
		</div>
		<div class=" smallstat box" onTablet="span6 noMarginLeft" onDesktop="span3" href="#">
			<i class="icon-cloud orange"></i>
			<span class="title">@Model.TodaysWeather</span>
			<span class="value"><small>平均</small>@Model.TodaysAverageTemperature<small>℃</small></span>
			<span class="time alignvalue">@Model.TodaysHighestTemperature ℃ / @Model.TodaysLowestTemperature ℃</span>
		</div>
		 <div class=" smallstat box" onTablet="span6 " onDesktop="span3"  href="#">
			<i class="icon-time darkGreen"></i>
			<span class="title">累计供热时间</span>
			<span class="value">@Model.TotalHeatSupplyDays<small>天</small></span>
            <span class="time">供热开始日期: @Model.起始供热时间.ToShortDateString() </span>
		</div>
        <div class=" smallstat box" id="todaysGJ" onTablet="span6 noMarginLeft" onDesktop="span3 noMarginLeft">
			<i class="icon-fire crimson"></i>
			<span class="title">今日累计供热量</span>
			<span class="value highlightRed">@Model.今日累计供热量<small>万GJ</small></span>
            <span class="time highlightRed">截至  @Model.当前时间.ToString("yyyy-MM-dd HH:mm tt")</span>
		</div>

		<div class="smallstat box" onTablet="span6" onDesktop="span3">
			<i class="icon-fire blue"></i>
			<span class="title">昨日累计供热量</span> 
			<span class="value">@Model.昨日累计供热量<small>万GJ</small></span>
			<span class="time">　</span>
		</div>

		<div class=" smallstat box" onTablet="span6" onDesktop="span3" href="#">
			<i class="icon-calendar-empty gold"></i>
			<span class="title">计划投停面积</span>
			<span class="value"><small>投入</small>@Model.计划投入面积<small>万㎡</small></span>
			<span class="time alignvalue">停止 @Model.计划停止面积  万㎡</span>
		</div>
		<div class=" smallstat box" onTablet="span6 noMarginLeft" onDesktop="span3" href="#">
			<i class="icon-calendar blue"></i>
			<span class="title">实际投停面积</span>
			<span class="value"><small>投入</small>@Model.实际投入面积 <small>万㎡</small></span>
			<span class="time alignvalue">停止 @Model.实际停止面积 万㎡</span>
		</div>
</div>
<div class="row-fluid">
    <div class="span6" onTablet="span12">
        @Html.Partial("HeatConsumptionTotal", Model.TodayGJ)
        @Html.Partial("HeatConsumptionTotal", Model.YesterdayGJ)
		
    </div>
    <div class="span6" onTablet="span12">
	<div class="box">
		<div class="box-header">
				<h2><i class="icon-list"></i>状态统计</h2>
				</div>
				<div class="box-content">
				<table class="table table-bordered table-condensed">
					<tr><th>热力站总数(个)</th><td>@Model.Managership.Stations.Count()</td><th>平均热负荷(GCal/h)</th><td>@Model.Managership.平均热负荷 </td></tr>
					<tr><th>超标站数量(个)</th><td><big class="red">xxx  </big></td><th>万平米循环水量(t/h)</th><td> @Model.Managership.万平方米流量 </td></tr>
					<tr><th>瞬时单耗(GJ/h·㎡)</th><td> @Model.Managership.瞬时单耗 </td><th>累计单耗(GJ/h·㎡)</th><td> @Model.Managership.供暖季累计单耗 </td></tr>
					<tr><th>总瞬时流量(t/h)</th><td> @Model.Managership.总瞬时流量 </td><th>总瞬时热量(GJ/h)</th><td> @Model.Managership.总瞬时热量 </td></tr>
				</table>
		
		<div class=" backgroundColor white">
			<div class="row-fluid">
				<div class="span6">
					<div id="company_exceed_station" class="pieChartWithCenterText" style="height:165px;padding-top:20px;">
					</div>
				</div>
				<div class="span6">
                    <div id="company_exceed_area" class="pieChartWithCenterText" style="height:165px;padding-top:20px;">
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="row-fluid">	
		<div class="box span12 noMarginLeft">
			<div class="box-header">
				<h2><i class="icon-tasks"></i>节能/超标热力站排行</h2>
			</div>
			<div class="box-content">
				<div class="row-fluid">
				    @Html.Partial("EnergyTopChart", Model.EnergyTopChart)
			    </div><!--/row-->
		    </div><!--/box-->
    </div><!--/row-->

    </div>
</div>
</div>
<div class="row-fluid">
	@Html.Partial("HeatConsumptionGraph", Model.Histories)
    <div class="span12 noMarginLeft">
        <table class="table table-hovered table-bordered backgroundColor white table-condensed ">
            @foreach( var station in Model.Managership.Stations){
                if (Model.Managership.Stations.First() == station)
                {
                    <tr><th>热力站名称</th><th>热力站编号</th><th>供热面积(万㎡)</th><th>参考热指标(Kcal/h)</th><th>计划热指标(Kcal/h)</th><th>日累计单耗(w/㎡)</th><th>万平米循环水流量(t/h)</th></tr>
                }
                <tr>
                    <td>@Html.ActionLink(station.热力站名称, "BasicInfo", "Stations", new { stationId = station.ItemID }, new { })</td>
                    <td>@station.热力站编号 </td>
                    <td>@station.投入面积</td>
                    <td>@station.参考热指标</td>
                    <td>@station.计划热指标</td>
                    <td>@station.今日累计单耗</td>
                    <td>@station.万平方米流量</td>
                </tr>
            }
        </table>
    </div>
</div>
<script>
    jQuery(document).ready(function ($) {
        var company_exceed_station_data = [

        { label: "单耗合格站数量", data: 10 },

        { label: "单耗超标站数量", data: 20 }

    ];
        var company_exceed_area_data = [

        { label: "万平米流量合格站数量", data: 80 },

        { label: "万平米流量超标站数量", data: 20 }

    ];

        var company_exceed_station_options = {
            series: {
                pie: {
                    show: true
                }
            },
            colors: ["#2fabe9", "#c84628"],
            legend: {
                show: false
            },
            grid: {
                hoverable: true,
                clickable: true
            }
        };

        $.plot($("#company_exceed_station"), company_exceed_station_data, company_exceed_station_options);
        $.plot($("#company_exceed_area"), company_exceed_area_data, company_exceed_station_options);
    });
</script>