@model IEnumerable<ReliDemo.Models.Station> 

@{ var isHeaderPrinted = false; }
<h3>今日监控数据统计</h3>
<table class="table  table-bordered table-hover  table-condensed table-clickhighlight datatable" style="background:white">
    @foreach( var station in Model ){
        if (!isHeaderPrinted)
        {
            <thead> 
            <tr>
                <th>热力站名称</th>
                <th>收费性质</th>
                <th>数据来源</th>
                <th class="textAlighRight">供热面积(㎡)</th>
                <th class="textAlighRight">计算热指标(Kcal/h)</th>
                <th class="textAlighRight">计划热指标(Kcal/h)</th>
                <th class="textAlighRight">万平米循环水流量(t/h)</th>
                <th class="textAlighRight">一次回温</th>
                <th>温度超标?</th></tr></thead>
            isHeaderPrinted = true;
        }
        <tr class="
		@if (station.一次回温 - ReliDemo.Infrastructure.Services.ConfigurationService.Instance.TemperatureExceed > 0){
			<text>alert-danger</text>
		}">
            <td>@Html.ActionLink(station.热力站名称 + " ", "StationRealTime", "Stations", new { stationId = station.ItemID }, new { })</td>
			<td>@station.收费性质</td>
			<td>@if ( @station.数据来源==null) {
					<span class="label label-info"><i class="icon-pencil"></i> 人工抄表</span> 
				} else {
					<span class="label label-important"><i class="icon-eye-open"></i> @station.数据来源</span>
				}
			</td>
            <td class="textAlighRight">@station.投入面积</td>
            <td class="textAlighRight">@station.参考热指标</td>
            <td class="textAlighRight">@station.计划热指标</td>
            <td class="textAlighRight">@station.万平方米流量</td>
            <td class="textAlighRight">@station.一次回温</td>
            <td>@if(station.一次回温 - ReliDemo.Infrastructure.Services.ConfigurationService.Instance.TemperatureExceed > 0){
				<i class="icon-arrow-up red"></i>
			} else {
				<text>-</text>
			}</td>
        </tr>
    }
</table>